*{
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    color:#333;
}

body{
    background-color: #F5F4F0;
}

#page {
    width: 1120px;
    margin: 88px auto 65px;
    box-sizing: border-box;
}

.headline {
    font-weight: 700;
    color: #E1624F;
}

#headline1 {
    margin-bottom: 8px;
}

h1 {
    font-size: 36px;
}

figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-style: italic;
    text-align: center;
    margin: 40px auto;
}

figure img {
    margin-bottom: 24px;
}

#descubra {
    margin: 64px auto;
}

img {
    border-radius: 28px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
    padding-left: 10px;
}

h1, h2, h3 {
    color:#1B1B1B;
}

ul {
    padding-left: 20px;
    font-weight: 700;
}

li {
    color: #0C51A7;
}

#li2 {
    color: #E5245E;
}

#li3 {
    color: #E95E10;
}

.cardtravel {
    margin-bottom: 48px;
}

.cardtravel img {
    margin-bottom: 20px;
}

#final {
    margin-top: 40px;
    margin-bottom: 65px;
}

footer {
    text-align: center;
    margin-bottom: 48px;
    line-height: 150%;
}

#coração {
    vertical-align: middle;
}